__pycache__/
*.db
.pytest_cache*/
.coverage
htmlcov/
*.py[cod]
.env
.env.postgres.local
.venv/
*.log
*.dump
backups/
.DS_Store
Thumbs.db
*.sqlite
*.sqlite3
*.sql
*.bundle
.env.*
!.env.example
.vscode/
.idea/
