/* ========================= */
/* RESET */
/* ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ========================= */
/* BODY */
/* ========================= */

body {
    display: flex;
    background-color: #FFF7CC;
    color: #111;
    font-family: Arial, sans-serif;
}


/* ========================= */
/* SIDEBAR */
/* ========================= */

.sidebar {
    width: 240px;
    height: 100vh;

    background-color: #FACC15;

    padding: 25px;

    box-shadow: 3px 0 10px rgba(0,0,0,0.15);
}


.sidebar h2 {
    margin-bottom: 40px;
    font-size: 30px;
}


.sidebar ul {
    list-style: none;
}


.sidebar li {
    margin-bottom: 15px;
}


.sidebar a {
    display: block;

    padding: 12px;

    text-decoration: none;

    color: #111;

    font-size: 18px;

    border-radius: 10px;

    transition: 0.3s;
}


.sidebar a:hover {
    background-color: #111;
    color: #FACC15;
}


/* ========================= */
/* CONTEÚDO */
/* ========================= */

.content {
    flex: 1;
    padding: 35px;
}


.content h1 {
    font-size: 48px;
    margin-bottom: 25px;

    color: #111;
}


/* ========================= */
/* CARDS */
/* ========================= */

.cards {

    display: flex;

    gap: 25px;

    flex-wrap: wrap;
}


.card {

    width: 250px;

    background-color: white;

    padding: 25px;

    border-radius: 18px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    transition: 0.3s;
}


.card:hover {
    transform: translateY(-8px);
}


.card h2 {
    color: #333;

    margin-bottom: 10px;
}


.card p {
    color: #EAB308;

    font-size: 30px;

    font-weight: bold;
}


/* ========================= */
/* TABELAS */
/* ========================= */

.tabela {

    width: 100%;

    border-collapse: collapse;

    background-color: white;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.tabela th {

    background-color: #FACC15;

    color: #111;

    padding: 15px;

    text-align: left;
}


.tabela td {

    padding: 15px;

    border-bottom: 1px solid #ddd;
}


.tabela tr:hover {

    background-color: #FFF7CC;
}