{% extends "base.html" %}

{% block conteudo %}


<h1>Receitas</h1>


<a href="/receitas/nova" class="btn-adicionar">
    + Nova Receita
</a>


<table class="tabela">

<tr>
    <th>Descrição</th>
    <th>Categoria</th>
    <th>Valor</th>
    <th>Data</th>
    <th>Ações</th>
</tr>


{% for receita in receitas %}

<tr>

<td>
    {{ receita["descricao"] }}
</td>

<td>
    {{ receita["categoria"] }}
</td>


<td>
    R$ {{ "%.2f"|format(receita["valor"]) }}
</td>


<td>
    {{ receita["data"].strftime("%d/%m/%Y") }}
</td>


<td>

<a href="/receitas/editar/{{ receita['id'] }}"
class="btn-editar">
✏️
</a>


<form
method="POST"
action="/receitas/excluir/{{ receita['id'] }}"
class="form-excluir"
onsubmit="return confirm('Deseja realmente excluir esta receita?');">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn-excluir" title="Excluir receita">
        🗑️
    </button>
</form>


</td>


</tr>


{% endfor %}


</table>


{% endblock %}
