{% extends "base.html" %}

{% block conteudo %}

<h1>Receitas</h1>

<table class="tabela">

    <tr>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Ações</th>
    </tr>

    {% for receita in receitas %}

    <tr>
        <td>{{ receita["descricao"] }}</td>
        <td>{{ receita["categoria"] }}</td>
        <td>R$ {{ "%.2f"|format(receita["valor"]) }}</td>
        <td>{{ receita["data"] }}</td>

        <td>
            <a href="/editar_receita/{{ receita['id'] }}" class="btn-editar">
                ✏️
            </a>

            <a href="/excluir_receita/{{ receita['id'] }}"
               class="btn-excluir">
                🗑️
            </a>
        </td>
    </tr>

    {% endfor %}

</table>

<a href="/nova_receita" class="btn-adicionar">
    ➕ Nova Receita
</a>

{% endblock %}